<ion-view title="Google Translate" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="googleTranslate-form1" class="list ">

            <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
                   max-selected-items="1" ng-model="test1" items-method="callbackMethod(query)" />

            <button id="googleTranslate-button1" class=" button button-positive  button-block "
                    ng-click="updateHtml()">Translate
            </button>
        </form>
        <div>
            <p ng-bind-html="html">
            </p>
        </div>
    </ion-content>
</ion-view>
