<ion-view title="Google Translate" id="page2" class=" ">
    <ion-content class="has-header">
        <form id="googleTranslate-form1">

            <label class="item item-input " id="googleTranslate-input1">
                <input
                    ion-autocomplete type="text"
                    placeholder="Tap to enter text"
                    class="ion-autocomplete"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    max-selected-items="1"
                    ng-model="input.q"
                    items-method="callbackMethod(query, language)"
                    cancel-button-clicked-method="search(callback)"
                />
            </label>
        </form>
        <div class="list">
            <div class="item-divider padding" ng-if="translation.t">
                Translation
            </div>
            <div class="item item-text-wrap" ng-if="translation.t">
                {{translation.t}}
            </div>

            <div class="item-divider padding" ng-if="translation.tr">
                Transcription
            </div>
            <div class="item item-text-wrap" ng-if="translation.tr">
                {{translation.tr}}
            </div>

            <div class="item-divider padding" ng-show="translation.dictionary.length">
                Dictionary
            </div>
            <div class="item item-text-wrap" ng-repeat="dictionaryEntry in translation.dictionary">
                {{dictionaryEntry.meaning}}:
                <span ng-repeat="synonym in dictionaryEntry.synonyms">
                    {{synonym}}{{!$last ? ',' : ''}}
                </span>
            </div>

            <div class="item-divider padding" ng-show="translation.words.length">
                Components
            </div>
            <div class="item item-text-wrap" ng-repeat="word in translation.words">
                <h3><span class="positive">{{word.text}}</span> <span class="">{{word.tr}}</span></h3>
                <h4>{{word.meaning}}</h4>
            </div>
            </div>
    </ion-content>
</ion-view>
