<ion-view title="Tabs Controller" id="tabsController" class=" ">
    <ion-tabs class="tabs-stable tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Google Translate" icon="ion-social-google" href="#/tabsController/googleTranslate?tab=google" id="tabsController-googleTranslateTab" class=" ">
            <ion-nav-view name="googleTranslateTab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="thai2english" icon="ion-android-sync" href="#/tabsController/thaiToEnglish?tab=thaiToEnglish" id="tabsController-thaiToEnglishTab" class=" ">
            <ion-nav-view name="thaiToEnglishTab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="thai-language.com" icon="ion-ios-cloud" href="#/tabsController/thaiLanguageCom?tab=thaiLanguageCom" id="tabsController-thaiLanguageComTab" class=" ">
            <ion-nav-view name="thaiLanguageComTab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
